<!-- Main -->
<main class="w-full my-0 mx-auto text-light bg-principal">
  <section class="w-4/5 sm:w-3/4 md:w-70 mx-auto border border-solid border-gray rounded-2xl shadow-1px p-8 my-8 bg-principal-light hover:shadow-2px">
    <h1 class="mb-5">
      <i class="fa fa-users text-contrast" aria-hidden="true"></i>
      <span>Grupos</span>
    </h1>

    <!-- Bands list -->
    <article class="flex flex-row flex-wrap gap-4 items-stretch justify-start">
      <!-- Band -->
      <div class="card">
        <figure class="flex-1 my-2.5 mr-5 ml-2.5">
          <img class="w-img-sm h-img-sm sm:w-img sm:h-img border border-solid border-gray rounded-md object-cover object-center opacity-90 hover:shadow-3px" src="./assets/images/festival_1.jpg" alt="Band">
          <figcaption class="text-sm color-gray">Foto de Megan Thee Stallion</figcaption>
        </figure>

        <div class="flex flex-2 flex-col gap-3 items-start justify-start pt-2.5">
          <h3 class="mb-0 text-xl font-medium">
            <i class="fas fa-music text-contrast" aria-hidden="true"></i>
            <span>Megan Thee Stallion</span>
          </h3>
          <p class="mb-4 text-base text-justify flex-auto"><span class="italic">Megan Jovon Ruth Pete (Houston, 15 de febrero de 1995)</span>, conocida por su nombre artístico como <span class="italic">Megan Thee Stallion</span> es una rapera, cantante, actriz y compositora estadounidense. Lanzó el <span class="italic">EP Tina Snow</span> en 2018. Firmó con <span class="italic">300 Entertainment</span> en 2018, convirtiéndola en la primera rapera femenina de esta. Su primer proyecto de larga duración, <span class="italic">Fever</span>, fue lanzado en 2019.</p>
          <a class="btn-detail" href="#">
            <i class="fa fa-paper-plane" aria-hidden="true"></i>
            <span>Ver detalle</span>
          </a>
        </div>
      </div>

      <div class="card">
        <figure class="flex-1 my-2.5 mr-5 ml-2.5">
          <img class="w-img-sm h-img-sm sm:w-img sm:h-img border border-solid border-gray rounded-md object-cover object-center opacity-90 hover:shadow-3px" src="./assets/images/festival_2.jpg" alt="Band">
          <figcaption class="text-sm color-gray">Foto de Disclosure</figcaption>
        </figure>

        <div class="flex flex-2 flex-col gap-3 items-start justify-start pt-2.5">
          <h3 class="mb-0 text-xl font-medium">
            <i class="fas fa-music text-contrast" aria-hidden="true"></i>
            <span>Disclosure</span>
          </h3>
          <p class="mb-4 text-base text-justify flex-auto">Dúo británico de música electrónica orientado al género <span class="italic">deep house</span> y <span class="italic">garage house</span>. Está conformado por los hermanos Guy y Howard Lawrence originarios de Reigate, Surrey situado al Sudeste de Inglaterra. Su primer álbum de estudio, <span class="italic">Settle</span>, lanzado en 2013 mediante <span class="italic">PMR</span>, fue nominado para los premios Grammy 2014. <span class="font-bold">Ha vendido más de 8,1 millones de copias de forma exitosa</span>.</p>
          <a class="btn-detail" href="#">
            <i class="fa fa-paper-plane" aria-hidden="true"></i>
            <span>Ver detalle</span>
          </a>
        </div>
      </div>

      <div class="card">
        <figure class="flex-1 my-2.5 mr-5 ml-2.5">
          <img class="w-img-sm h-img-sm sm:w-img sm:h-img border border-solid border-gray rounded-md object-cover object-center opacity-90 hover:shadow-3px" src="./assets/images/festival_3.jpg" alt="Band">
          <figcaption class="text-sm color-gray">Foto de Doja Cat</figcaption>
        </figure>

        <div class="flex flex-2 flex-col gap-3 items-start justify-start pt-2.5">
          <h3 class="mb-0 text-xl font-medium">
            <i class="fas fa-music text-contrast" aria-hidden="true"></i>
            <span>Doja Cat</span>
          </h3>
          <p class="mb-4 text-base text-justify flex-auto"><span class="italic">Amala Ratna Zandile Dlamini (Los Ángeles, Estados Unidos; 21 de octubre de 1995)</span>, más conocida por su nombre artístico <span class="italic">Doja Cat</span>, es una rapera, cantante, compositora y productora discográfica estadounidense. Firmó un contrato discográfico con <span class="italic">RCA Records</span> en 2014 y posteriormente lanzó su primer <span class="italic">extended play</span>. En 2018, saltó a la fama con su y tema viral sencillo <span class="italic">Mooo!</span>.</p>
          <a class="btn-detail" href="#">
            <i class="fa fa-paper-plane" aria-hidden="true"></i>
            <span>Ver detalle</span>
          </a>
        </div>
      </div>

      <div class="card">
        <figure class="flex-1 my-2.5 mr-5 ml-2.5">
          <img class="w-img-sm h-img-sm sm:w-img sm:h-img border border-solid border-gray rounded-md object-cover object-center opacity-90 hover:shadow-3px" src="./assets/images/festival_4.jpg" alt="Band">
          <figcaption class="text-sm color-gray">Foto de Phoebe Bridgers</figcaption>
        </figure>

        <div class="flex flex-2 flex-col gap-3 items-start justify-start pt-2.5">
          <h3 class="mb-0 text-xl font-medium">
            <i class="fas fa-music text-contrast" aria-hidden="true"></i>
            <span>Phoebe Bridgers</span>
          </h3>
          <p class="mb-4 text-base text-justify flex-auto"><span class="italic">Phoebe Lucille Bridgers (Pasadena, 17 de agosto de 1994)</span> es una cantante, compositora, guitarrista y productora estadounidense. Hizo su debut como solista con su disco <span class="italic">Stranger in the Alps (2017)</span>, al cual le siguió <span class="italic">Punisher (2020)</span>, que fue aclamado por la crítica especializada y le valió <span class="font-bold">4 nominaciones a los premios Grammy</span>, incluyendo mejor álbum y mejor artista nuevo.</p>
          <a class="btn-detail" href="#">
            <i class="fa fa-paper-plane" aria-hidden="true"></i>
            <span>Ver detalle</span>
          </a>
        </div>
      </div>

      <div class="card">
        <figure class="flex-1 my-2.5 mr-5 ml-2.5">
          <img class="w-img-sm h-img-sm sm:w-img sm:h-img border border-solid border-gray rounded-md object-cover object-center opacity-90 hover:shadow-3px" src="./assets/images/festival_5.jpg" alt="Band">
          <figcaption class="text-sm color-gray">Foto de MIKA</figcaption>
        </figure>

        <div class="flex flex-2 flex-col gap-3 items-start justify-start pt-2.5">
          <h3 class="mb-0 text-xl font-medium">
            <i class="fas fa-music text-contrast" aria-hidden="true"></i>
            <span>MIKA</span>
          </h3>
          <p class="mb-4 text-base text-justify flex-auto"><span class="italic">Michael Holbrook Penniman Jr., (Beirut, 18 de agosto de 1983)</span>, más conocido como <span class="italic">Mika</span>, es un cantante y compositor de origen líbano-británico, ganador del <span class="italic">World Music Awards</span>, <span class="italic">Brit Awards</span> y nominado al Premio Grammy. En 2006, Mika debutó con el sencillo <span class="italic">Grace Kelly</span>. Nacido en <span class="italic">Beirut</span>, <span class="italic">Líbano</span>, y criado en Londres, el cantante posee registro vocal de barítono ligero.</p>
          <a class="btn-detail" href="#">
            <i class="fa fa-paper-plane" aria-hidden="true"></i>
            <span>Ver detalle</span>
          </a>
        </div>
      </div>

      <div class="card">
        <figure class="flex-1 my-2.5 mr-5 ml-2.5">
          <img class="w-img-sm h-img-sm sm:w-img sm:h-img border border-solid border-gray rounded-md object-cover object-center opacity-90 hover:shadow-3px" src="./assets/images/festival_6.jpg" alt="Band">
          <figcaption class="text-sm color-gray">Foto de Conan Gray</figcaption>
        </figure>

        <div class="flex flex-2 flex-col gap-3 items-start justify-start pt-2.5">
          <h3 class="mb-0 text-xl font-medium">
            <i class="fas fa-music text-contrast" aria-hidden="true"></i>
            <span>Conan Gray</span>
          </h3>
          <p class="mb-4 text-base text-justify flex-auto"><span class="italic">Conan Lee Gray (Lemon Grove, California; 5 de diciembre de 1998)</span> es un cantante, compositor estadounidense y personalidad de las redes sociales. Comenzó subiendo vlogs, versiones y canciones originales a YouTube cuando era un adolescente en <span class="italic">Georgetown</span>, <span class="italic">Texas</span>. Gray firmó un contrato discográfico con <span class="italic">Republic Records</span> en 2018, donde lanzó su <span class="italic">EP debut Sunset Season</span> (2018).</p>
          <a class="btn-detail" href="#">
            <i class="fa fa-paper-plane" aria-hidden="true"></i>
            <span>Ver detalle</span>
          </a>
        </div>
      </div>

      <div class="card">
        <figure class="flex-1 my-2.5 mr-5 ml-2.5">
          <img class="w-img-sm h-img-sm sm:w-img sm:h-img border border-solid border-gray rounded-md object-cover object-center opacity-90 hover:shadow-3px" src="./assets/images/festival_10.jpg" alt="Band">
          <figcaption class="text-sm color-gray">Foto de Big Sean</figcaption>
        </figure>

        <div class="flex flex-2 flex-col gap-3 items-start justify-start pt-2.5">
          <h3 class="mb-0 text-xl font-medium">
            <i class="fas fa-music text-contrast" aria-hidden="true"></i>
            <span>Big Sean</span>
          </h3>
          <p class="mb-4 text-base text-justify flex-auto"><span class="italic">Sean Michael Anderson (Santa Mónica, California, 25 de marzo de 1988)</span>, más conocido como <span class="italic">Big Sean</span>, es un rapero estadounidense perteneciente a la discográfica <span class="italic">GOOD Music</span> de <span class="italic">Kanye West</span>. Su primer álbum de estudio se tituló <span class="italic">Finally Famous</span>. Es el álbum debut de Big Sean e incluye colaboraciones de <span class="italic">Rick Ross</span>, <span class="italic">Pharrell</span>, <span class="italic">Kanye West</span>, <span class="italic">Wiz Khalifa</span>, <span class="italic">Bang Chiddy</span> y <span class="italic">Pusha T</span>.</p>
          <a class="btn-detail" href="#">
            <i class="fa fa-paper-plane" aria-hidden="true"></i>
            <span>Ver detalle</span>
          </a>
        </div>
      </div>

      <div class="card">
        <figure class="flex-1 my-2.5 mr-5 ml-2.5">
          <img class="w-img-sm h-img-sm sm:w-img sm:h-img border border-solid border-gray rounded-md object-cover object-center opacity-90 hover:shadow-3px" src="./assets/images/festival_11.jpg" alt="Band">
          <figcaption class="text-sm color-gray">Foto de Nicki Nicole</figcaption>
        </figure>

        <div class="flex flex-2 flex-col gap-3 items-start justify-start pt-2.5">
          <h3 class="mb-0 text-xl font-medium">
            <i class="fas fa-music text-contrast" aria-hidden="true"></i>
            <span>Nicki Nicole</span>
          </h3>
          <p class="mb-4 text-base text-justify flex-auto"><span class="italic">Nicole Denise Cucco (Rosario, Santa Fe; 25 de agosto de 2000)</span>, conocida artísticamente como <span class="italic">Nicki Nicole</span>, es una cantante y compositora argentina. En 2019, saltó a la fama con el sencillo <span class="italic">Wapo traketero</span>, logrando <span class="font-bold">obtener millones de reproducciones</span> en un corto período de tiempo. <span class="font-bold">Se convirtió en un fenómeno viral</span>, logrando ingresar al listado <span class="italic">Argentina Hot 100</span> de <span class="italic">Billboard</span>.</p>
          <a class="btn-detail" href="#">
            <i class="fa fa-paper-plane" aria-hidden="true"></i>
            <span>Ver detalle</span>
          </a>
        </div>
      </div>

      <div class="card">
        <figure class="flex-1 my-2.5 mr-5 ml-2.5">
          <img class="w-img-sm h-img-sm sm:w-img sm:h-img border border-solid border-gray rounded-md object-cover object-center opacity-90 hover:shadow-3px" src="./assets/images/festival_12.jpg" alt="Band">
          <figcaption class="text-sm color-gray">Foto de Ed Maverick</figcaption>
        </figure>

        <div class="flex flex-2 flex-col gap-3 items-start justify-start pt-2.5">
          <h3 class="mb-0 text-xl font-medium">
            <i class="fas fa-music text-contrast" aria-hidden="true"></i>
            <span>Ed Maverick</span>
          </h3>
          <p class="mb-4 text-base text-justify flex-auto"><span class="italic">Eduardo Hernández Saucedo</span>, mejor conocido como <span class="italic">Ed Maverick (Delicias, Chihuahua, 19 de enero de 2001)</span>, es un cantante, compositor, músico, productor y multiinstrumentista mexicano de música folk, alternativa y rock. En 2021 colaboró con <span class="italic">C. Tangana</span>, dentro del álbum <span class="italic">El Madrileño</span>, acreditándolo como ingeniero del álbum y le valió el <span class="italic">Grammy Latino</span> a <span class="italic">Mejor Ingeniería de Grabación</span>.</p>
          <a class="btn-detail" href="#">
            <i class="fa fa-paper-plane" aria-hidden="true"></i>
            <span>Ver detalle</span>
          </a>
        </div>
      </div>
    </article>
  </section>
</main>