<!-- Header -->
<header class="static sm:sticky top-0 z-10 w-full text-light bg-gradient-to-br from-principal to-principal-light">
  <div class="w-4/5 sm:w-3/4 md:w-70 my-0 mx-auto flex flex-col md:flex-row items-center justify-center sm:items-start sm:justify-start md:items-end md:justify-between">
    <!-- Logo -->
    <div class="w-full my-0 mx-auto flex-1 pt-5 sm:pt-8 pb-5 text-center sm:text-left">
      <a class="text-base text-light no-underline" href="./index.html">
        <img class="w-logo-lg h-logo-lg sm:w-logo sm:h-logo inline border border-solid border-gray rounded-lg hover:shadow-3px" src="./assets/images/logo.jpg" alt="Logo">
      </a>
    </div>

    <!-- Header nav -->
    <nav class="w-full my-0 mx-auto flex-1 pt-2.5 pb-4 sm:pt-2.5 md:py-5 uppercase">
      <ul class="pl-0 m-0 text-base list-none flex flex-col sm:flex-row items-center justify-center sm:justify-start md:justify-end pl-0 m-0 font-medium list-none">
        <li class="pr-0 sm:pr-5">
          <a class="text-light no-underline text-lg text-contrast-light hover:text-contrast hover:font-bold hover:border-none" href="./index.html">Portada</a>
        </li>
        <li class="pr-0 sm:pr-5">
          <a class="text-light no-underline text-lg text-contrast-light hover:text-contrast hover:font-bold hover:border-none" href="./bands.html">Grupos</a>
        </li>
        <li>
          <a class="text-light no-underline text-lg text-contrast-light hover:text-contrast hover:font-bold hover:border-none" href="./article.html">Noticias</a>
        </li>
      </ul>
    </nav>
  </div>
</header>