<!-- Main -->
<main class="w-full my-0 mx-auto text-light bg-principal">
  <section class="w-4/5 my-8 mx-auto p-8 border border-solid border-gray rounded-2xl bg-principal-light shadow-1px">
    <h1 class="mt-10 mb-7 text-center sm:text-left">
      <i class="fa-solid fa-house text-contrast" aria-hidden="true"></i>
      <span>Festival de música Santiago de Compostela 2022</span>
    </h1>

    <article class="mt-14">
      <h2 class="mb-60 text-center sm:text-left">
        <i class="fas fa-user-tie text-contrast" aria-hidden="true"></i>
        <span>Un regreso a lo grande con los mejores artistas</span>
      </h2>
    </article>
  </section>
</main>